<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AENA GTA!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  
  
  <body>
  <div id="app">
	
   <section class="hero is-success">
	  <div class="hero-body">
		<div class="container">
		  <h1 class="title">
			{{title}}
		  </h1>
		  <h2 class="subtitle">
			Convert .csv to calendar
		  </h2>
		</div>
	  </div>
	</section>
  
  <section class="section">
    <div class="container">
      <h1 class="title">
        Input calendar
      </h1>
      <textarea v-model="input" class="textarea" placeholder="CSV content"></textarea>
	  <br />
	
	  <button v-if="selectb" class="button is-success" @click="parser">Convert</button>
		
    </div>
	
	<br />
	
	<div class="container">
      <h1 class="title">
        Output calendar
      </h1>
      
	  <div class="select">
		  <select v-model="selected">
			<option>Select worker</option>
			<option v-for="(w,index) in workers" :value="index">{{w}}</option>
		  </select>
	  </div>
	 
	  <button v-if="!selectb" class="button is-info" @click="calendar">Calendar</button>
	  
	  <hr>

	  <textarea class="textarea">{{output}}</textarea>
		
    </div>

    </section>
  
  </div>
  </body>
  
  
  <script>
  
  var gta = new Vue({
  
	el: '#app',
	data: {
		title: 'Aena GTA',
		input: '',
		output: '',
		
		content: '',
		lines: '',
		days: '',
		
		worker:'',
		workers:[],
		
		selected:'',
		get_date: '',
		mes: '',
		any: '',
		
		selectb: true,
		
		
	},
	methods:{
		parser: function (){
			//Get content
			this.content = this.input.split(";OCU;GRP;PTR;");
			
			//REG EXP  MES/AÑO [A-Z]+/[0-9]{4}
			var regex = /[A-Z]+\/[0-9]{4}/;
    		this.get_date = regex.exec(this.content[0]);
			this.get_date = this.get_date[0].split("/");
			this.any=this.get_date[1];

			switch (this.get_date[0]){
				case 'ENERO': this.mes = '01'; break;
				case 'FEBRERO': this.mes = '02'; break;
				case 'MARZO': this.mes = '03'; break;
				case 'ABRIL': this.mes = '04'; break;
				case 'MAYO': this.mes = '05'; break;
				case 'JUNIO': this.mes = '06'; break;
				case 'JULIO': this.mes = '07'; break;
				case 'AGOSTO': this.mes = '08'; break;
				case 'SEPTIEMBRE': this.mes = '09'; break;
				case 'OCTUBRE': this.mes = '10'; break;
				case 'NOVIEMBRE': this.mes = '11'; break;
				case 'DICIEMBRE': this.mes = '12'; break;	
			}

			//Split lines
			this.lines = this.content[1].split('\n');
			
			//Get month days
			this.days = this.lines[0];
			this.days = this.days.split(';');
			
			
			//Each Line (worker)
			for (var i=1; i < this.lines.length; i++){
			
				this.worker=this.lines[i].split(';');
				
				this.workers.push(this.worker[0]);

			}
			
			this.selectb = false;
		},
		
		calendar: function (){
			
			/*
			var myDate = new Date();
			var month = ('0' + (myDate.getMonth() + 1)).slice(-2);
			var date = ('0' + myDate.getDate()).slice(-2);
			var year = myDate.getFullYear();
			var formattedDate = year + '/' + month + '/' + date;	

			alert(formattedDate);
			*/
			var options = { year: 'numeric', month: '2-digit', day: '2-digit' };
			this.output='Subject, Start Date, Start Time, End Date, End Time, Location, Description\n';
			
			//Worker selected
			this.worker=this.lines[this.selected+1].split(';');

			
			//For each D and N
			for (var j=0; j<this.days.length; j++){
			
				if (this.worker[j+4]=='D'){
					var returnDay = this.days[j]+'/'+this.mes+'/'+this.any;
					
					this.output += 'TURNO DE DIA,'+returnDay+',09:00 AM,'+returnDay+', 21:00 PM,PMI AIRPORT,\n';
				}
					
				if (this.worker[j+4]=='N'){
				
					var startDate = this.days[j]+'/'+this.mes+'/'+this.any;
					var endDate = new Date (this.any+'-'+this.mes+'-'+this.days[j]);
					endDate.setDate(endDate.getDate() + 1);
					endDate = endDate.toLocaleDateString("es-ES",options);

					this.output += 'TURNO DE NOCHE,'+startDate+',21:00 PM,'+endDate+',09:00 AM,PMI AIRPORT,\n';
				}
					
				
			}
				
				
			
		}
	}
	
  });
  
  </script>
  
  
</html>